.App {
  text-align: center;
  border: solid 1px red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.choose-one  {
  background: grey;
  width: 95%;
  margin: 5% auto;
  display: flex;
  justify-content: space-evenly;
}

.btn  {
  width: 40%;
  background: greenyellow;
  margin: 5% auto;
  height: 50px;
}

.main-content  {
  background: blue;
  border: solid 1px purple;
  width: 95%;
  margin: 5% auto;
  padding: 5% auto;
}

.main-img-cont  {
  /* background: orange; */
  border: solid 1px red;
}

.main-img-cont img  {
  width: 90%;
}

.second-content  {
  background: teal;
  border: solid 1px red;
  width: 95%;
  margin: 2.5% auto;
  display: flex;
  justify-content: space-around;
}

.sec-img  {
  background: pink;
  border: solid 1px red;
  width: 45%;
}

.sec-img img {
  width: 90%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
